@tailwind base;
@tailwind components;
@tailwind utilities;

button{
  width: 40px;
  height: 40px;
  border-width: solid 1px black;
  background-color: white;
  border-radius: 50px;
  margin: 10px;
  color: black;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
